body {
  width: 100%;
  height: 100%;
  font-family: "Red Hat Display", sans-serif;
  background-color: hsl(225, 100%, 94%);
  background-image: url(../img/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
/*mobile*/
.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  height: 600px;
}

.card img {
  border-radius: 15px 15px 0 0;
  width: 340px;
}

.box-white {
  background-color: #ffffff;
  height: 700px;
  border-radius: 0 0 15px 15px;
  box-shadow: 1px 15px 10px #c6d0f4;
  padding: 25px;
  text-align: center;
}

.box-white h1 {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  font-size: 25px;
}

.box-white p {
  color: #86879b;
  font-size: 16px;
}

.annual-plan {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.annual-plan img {
  width: 50px;
  height: 50px;
}

.text-plan {
  line-height: 0.5;
  padding-right: 80px;
}
.text-plan h4 {
  font-weight: 700;
  color: hsl(223, 47%, 23%);
}

.text-plan p {
  font-size: 16px;
}

a {
  font-weight: 700;
  color: hsl(245, 75%, 52%);
}

a:hover {
  color: #766cf1;
  text-decoration: none;
}

.button {
  width: 300px;
  height: 50px;
  margin-top: 30px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: hsl(245, 75%, 52%);
  color: #ffffff;
  font-weight: 700;
  box-shadow: 3px 10px 8px #dddaf7;
  cursor: pointer;
}

.button:hover {
  background-color: #766cf1;
}

.cancel {
  color: #86879b;
  font-size: 16px;
  font-weight: 700;
  margin-top: 30px;
}

.cancel:hover {
  color: hsl(223, 47%, 23%);
  cursor: pointer;
}

@media only screen and (min-width: 375px) {
  body {
    background-color: hsl(225, 100%, 94%);
    background-image: url(../img/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
